body {
background-image: url('https://res.cloudinary.com/dtz0urit6/image/upload/f_jpg,q_auto/cloudinary-tools-uploads/dptonowbdhjsm3tljpkj.jpg') !important;
background-size: cover !important;
background-attachment: fixed !important;
}
